name: Publish Preview Docs

on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: pip install -r requirements.txt
      - name: Setup doc deploy
        run: |
          git config --global user.name Promitor Bot
          git config --global user.email promitor.automation@gmail.com
      - name: Build docs website and API reference
        run:  mike deploy unreleased --branch live-docs --push